  <div class="jumbotron">
  <h1>Welcome to Mario's International Curiosities</h1>
  </div>

  <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end%>
    </ul>
  <% else %>
    <p>No products have been created yet</p>
  <% end %>

  <p><%= link_to "Add a Product", new_product_path %></p>
  <a href="location location location">link to routes</a>
